
# the "Course Notes" folder is ignored
/courseNotesAndSnapshots/*

# connection credentials file
database_connection_credentials.txt

# DataWarehouse config file
# /Exercises Notebooks/03 Data Warehouses/*.cfg

# ALL config files are ignored
**/*.cfg
*.cfg

# all "ipynb_checkpoints" are ignored
.ipynb_checkpoints
**/*.ipynb_checkpoints

# cache files
__pycache__

# ignore auxiliary docker start/run files and/or sensitve data files
dockerRunAirflowWithVolume.bat
CREATE_dockerRunAirflowWithVolume.bat
dockerStopStartAirflow.bat
manageAirflowConnections.sh
startAirflowContainer.bat