
# the "Course Notes" folder is ignored
/courseNotesAndSnapshots/*

# connection credentials file
database_connection_credentials.txt

# DataWarehouse config file
# /Exercises Notebooks/03 Data Warehouses/*.cfg

# ALL config files are ignored
**/*.cfg

# all "ipynb_checkpoints" are ignored
.ipynb_checkpoints
**/*.ipynb_checkpoints
