
# the "Course Notes" folder is ignored
/courseNotesAndSnapshots/*

# connection credentials file
database_connection_credentials.txt

# DataWarehouse config file
# /Exercises Notebooks/03 Data Warehouses/*.cfg

# all config files are ignored
**/*.cfg